<main class="authentication h-screen w-full flex flex-row justify-center items-center relative overflow-hidden">
    <img src="/assets/backgrounds/AUTH_BG_1.png" alt="" class="absolute self-end -z-50 scale-110" id="parallaxBg">
    <img src="/assets/backgrounds/AUTH_BG_2.png" alt="" class="absolute self-end -z-40 scale-110" id="parallaxFg">
    
    <section class="auth-container w-3/5 h-4/5 bg-(--navbar) rounded-3xl flex flex-col justify-center items-center ">
        <router-outlet></router-outlet>
    </section>

</main>
