
<main class="authentication h-screen w-full flex flex-row justify-center items-center relative md:overflow-hidden" >
    <img src="/assets/backgrounds/LOGIN_BG.jpg" #backgroundImage id="auth-bg" class="md:inline repeat hidden absolute self-end -z-50 scale-110">
    
    
    <section class="auth-container w-full md:w-2/3 lg:w-1/2 h-screen md:h-auto min-h-3/4 bg-(--navbar) md:rounded-3xl flex flex-col justify-center items-center transition-all pt-5 pb-5 outline-8 outline-(--navbar-outline)">
        <router-outlet></router-outlet>
    </section>

</main>
