<section
  animate.enter="fade-in-animation"
  id="collectionHeaderContainer"
  class="w-full h-auto pt-3 pb-6 flex flex-col justify-start items-center space-y-4"
>
  <div
    id="collectionHeader"
    class="max-w-application px-4 md:px-8 flex flex-col justify-start items-center w-full"
  >
    <app-page-header
      class="max-w-application py-4"
      [title]="'collection.headerTitle' | transloco"
      [subtitle]="'collection.headerSubtitle' | transloco"
    ></app-page-header>
  </div>

  <div
    id="mainContainer"
    class="w-full h-auto pt-3 pb-6 flex flex-col justify-start items-center space-y-4"
  >
    <div
      id="main"
      class="max-w-application w-full px-4 md:px-8 flex flex-col md:flex-row justify-center items-start space-y-8 md:space-x-8 md:space-y-0"
    >
      <div id="collectionSelector" class="w-full md:w-1/3 flex flex-col rounded-2xl h-auto">
        <div class="w-full rounded-t-2xl h-auto flex flex-row">
          <div
            class="w-1/2 p-2 h-auto rounded-tl-2xl dark:bg-(--background-300) bg-(--background-800)"
          >
            <span class="text-lg font-bold">Spots</span>
          </div>
          <div
            class="w-1/2 p-2 h-auto rounded-tr-2xl dark:bg-(--background-300) bg-(--background-800)"
          >
            <span class="text-lg font-bold">Events</span>
          </div>
        </div>

        <div
          class="w-full h-auto dark:bg-(--background-200) bg-white flex flex-row justify-between items-start p-4 rounded-b-2xl"
        >
          <!-- SPOT COLLECTION CONTAINER -->
          <div class="w-1/2 h-auto flex flex-col justify-start items-center">
            @for (collection of this.userSpotCollections; track collection.id) {
            <div
              (click)="this.fetchSelectedCollection(collection.id)"
              [ngClass]="[
                this.selectedCollection.collectionId == collection.id
                  ? 'dark:bg-(--background-400) bg-(--primary-700)'
                  : 'dark:bg-(--background-100) bg-(--background-900) hover:bg-(--accent-500)',
                this.userSpotCollections.length <= this.userEventCollections.length
                  ? 'first:rounded-tl-2xl last:rounded-bl-2xl'
                  : '',
                this.userSpotCollections.length > this.userEventCollections.length
                  ? 'first:rounded-tl-2xl last:rounded-b-2xl'
                  : ''
              ]"
              class="first:rounded-tl-2xl last:rounded-bl-2xl w-full h-auto py-2"
            >
              <span class="text-lg font-normal">{{ collection.collectionName }}</span>
            </div>
            }
          </div>

          <!-- EVENT COLLECTION CONTAINER -->
          <div class="w-1/2 h-auto flex flex-col justify-start items-center">
            @for (collection of this.userEventCollections; track collection.id) {
            <div
              (click)="this.fetchSelectedCollection(collection.id)"
              [ngClass]="[
                this.selectedCollection.collectionId == collection.id
                  ? 'dark:bg-(--background-400) bg-(--primary-700)'
                  : 'dark:bg-(--background-100) bg-(--background-900) hover:bg-(--accent-500)',
                this.userEventCollections.length <= this.userSpotCollections.length
                  ? 'first:rounded-tr-2xl last:rounded-br-2xl'
                  : '',
                this.userEventCollections.length > this.userSpotCollections.length
                  ? 'first:rounded-tr-2xl last:rounded-b-2xl'
                  : ''
              ]"
              class="first:rounded-tr-2xl last:rounded-br-2xl w-full h-auto py-2"
            >
              <span class="text-lg font-normal">{{ collection.collectionName }}</span>
            </div>
            }
          </div>
        </div>

        <app-button-primary
          (click)="this.openAddCollectionModal()"
          classAddons="w-full rounded-2xl mt-8"
          [buttonContent]="'Add Collection'"
          [buttonType]="'DEFAULT'"
        ></app-button-primary>
        <app-button-primary
          (click)="this.openEditCollectionModal()"
          classAddons="w-full rounded-2xl mt-2"
          [buttonContent]="'Edit Collection'"
          [buttonType]="'DEFAULT'"
        ></app-button-primary>
      </div>
      <div id="itemsContainer" class="w-full md:w-2/3 rounded-2xl h-auto">
        @if (this.selectedCollection.collectionItems.length == 0) {
        <app-not-found-component
          [headerMessage]="'collection.noCollectionItemsHeading' | transloco"
          [messageDescription]="'collection.noCollectionItemsSubheading' | transloco"
        ></app-not-found-component>
         <app-button-primary
            (click)="this.openDeleteCollectionModal()"
            classAddons="rounded-2xl mt-2 px-2"
            [buttonContent]="'Delete Collection'"
            [buttonType]="'DANGER'"
          ></app-button-primary>
        } @else if (this.selectedCollection.collectionType == 'SPOT'){
        <div class="flex flex-col w-full justify-start items-center space-y-4">
          <app-collection-header></app-collection-header>
          @for (item of this.selectedCollection.collectionItems; track item.id) { @if
          (this.isSpot(item)) {
          <app-search-spot-card
            (click)="this.navigateToSpotOverview(item.slug)"
            [spot]="item"
            [lang]="this.session.language()!"
          ></app-search-spot-card>
          }
          }
          <app-button-primary
            (click)="this.openDeleteCollectionModal()"
            classAddons="w-full rounded-2xl mt-2 px-2"
            [buttonContent]="'Delete Collection'"
            [buttonType]="'DANGER'"
          ></app-button-primary>
        </div>
        } @else if (this.selectedCollection.collectionType == 'EVENT'){
        <div class="flex flex-col w-full justify-start items-center space-y-4">
          @for (item of this.selectedCollection.collectionItems; track item.id) { @if
          (this.isEvent(item)) {
          <app-search-event-card
            (click)="this.navigateToEventOverview(item.slug)"
            [event]="item"
            [lang]="this.session.language()!"
          ></app-search-event-card>
          } }
        </div>
        }
      </div>
    </div>
  </div>
</section>
