<app-page-header 
animate.enter="fade-in-animation" class="max-w-application pt-4" [title]='"homepage.headerTitle" | transloco' [subtitle]='"homepage.headerSubtitle" | transloco'></app-page-header>

<section animate.enter="fade-in-animation" id="homepageHeadersSectionContainer" class="w-full h-auto mt-3 mb-6 flex flex-col justify-start items-center space-y-4">
    <div id="homepageHeadersSection" class="max-w-application w-full flex flex-col md:flex-row justify-start md:justify-between items-center md:items-start px-4 md:px-8 space-y-4 md:space-y-0 md:space-x-4">
        <div class="w-full md:w-1/2 h-auto flex flex-col space-y-2 justify-center items-stretch">
            <span class="text-2xl w-full md:text-start font-semibold">{{ 'homepage.headlineSectionSpot' | transloco}}</span>
            <app-headline-spot classAddons="w-full" [spotShorthand]="this.testSpot"></app-headline-spot>
        </div>
        <div class="w-full md:w-1/2 h-auto flex flex-col space-y-2 justify-start items-stretch">
            <span class="text-2xl w-full md:text-end font-semibold">{{ 'homepage.headlineSectionEvent' | transloco}}</span>
            <app-headline-event classAddons="w-full" [eventShorthand]="this.testEvent"></app-headline-event>
        </div>
    </div>

    <div id="homepageFavouritesSection" class="max-w-application px-4 md:px-8 w-full flex flex-col justify-center items-center">
        <span class="text-2xl w-full md:text-start font-semibold">{{ 'homepage.headlineSectionFavourites' | transloco}}</span>
        <div class="w-full max-w-application flex flex-row space-x-6 justify-start py-4 items-center overflow-x-scroll overflow-y-hidden">
            @for (spot of testSpotFavourites; track spot.spotId) {
                <app-small-spot-card [spotShorthand]="spot" classAddons=""></app-small-spot-card>
            }
        </div>
    </div>

    <div class="w-full flex flex-row justify-end max-w-application px-4 md:px-8">
        <app-button-regular classAddons="px-4" [buttonContent]='"homepage.viewAllButton" | transloco'></app-button-regular>
    </div>
</section>

<section animate.enter="fade-in-animation" id="homepagePopularSectionContainer" class="w-full h-auto flex flex-col justify-start items-center space-y-4 bg-(--background-100)">
    <div id="homepagePopularSection" class="max-w-application px-4 md:px-8 flex flex-col justify-start items-center w-full my-6">
        <!-- SUB-SECTION TITLE -->
        <div class="flex flex-col w-full justify-center items-center md:items-start h-auto">
            <span class="text-xs sm:text-base md:text-xl tracking-wider">POPULAR</span>
            <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">{{ 'homepage.popularSectionSpots' | transloco}}</h2>
        </div>

        <!-- POPULAR SPOTS CONTAINER - FIRST TWO ROWS -->
        <div class="w-full h-auto flex flex-col md:flex-row justify-center space-y-4 md:space-y-0 space-x-4 my-2 items-stretch">
            <app-search-spot-card [spotShorthand]="this.testSpot"></app-search-spot-card>
            <app-search-spot-card [spotShorthand]="this.testSpot"></app-search-spot-card>
        </div>

         <!-- POPULAR SPOTS CONTAINER - SECOND TWO ROWS -->
        <div class="w-full h-auto flex flex-col md:flex-row justify-center space-y-4 md:space-y-0 space-x-4 my-2 items-stretch">
            <app-search-spot-card [spotShorthand]="this.testSpot"></app-search-spot-card>
            <app-search-spot-card [spotShorthand]="this.testSpot"></app-search-spot-card>
        </div>
    </div>

    <div id="homepageCalendarSection" class="max-w-application px-4 md:px-8 flex flex-col justify-start items-center w-full my-6">
        <!-- SUB-SECTION TITLE -->
        <div class="flex flex-col w-full justify-center items-center md:items-start h-auto">
            <span class="text-xs sm:text-base md:text-xl tracking-wider">COMING UP</span>
            <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">{{ 'homepage.popularSectionEvents' | transloco}}</h2>
        </div>

        <!-- CALENDAR PICKER SECTION -->
        <div class="w-full h-auto flex flex-row justify-center items-center overflow-x-scroll sm:overflow-hidden my-2">
            <div class="w-1/3 hidden sm:inline h-1 rounded-full bg-white"></div>
            <div class="w-full sm:w-auto flex flex-row justify-around items-center space-x-1 mx-1">
                @for (day of this.eventCalendarDays; track $index) {
                    <app-calendar-date-icon 
                    [day]="day" 
                    [isSelectedDay]="day.queryDate === selectedDate"
                    (daySelected)="handleDaySelection($event)"></app-calendar-date-icon>
                }
            </div>
            <div class="w-1/3 hidden sm:inline h-1 rounded-full bg-white"></div>
        </div>

        <!-- CALENDAR EVENT RESULTS SECTION -->
         <div class="w-full h-auto flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-4 my-2">
            <app-search-event-card [eventShorthand]="this.testEvent"></app-search-event-card>
            <app-search-event-card [eventShorthand]="this.testEvent"></app-search-event-card>
        </div>

        <div class="w-full flex flex-row justify-end max-w-application my-4">
            <app-button-regular classAddons="px-4" [buttonContent]='"homepage.viewAllButton" | transloco'></app-button-regular>
        </div>
    </div>
</section>

<section animate.enter="fade-in-animation" id="homepageDiscoverSectionContainer" class="w-full h-auto flex flex-col justify-start items-center space-y-4">
    <div id="homepageDiscoverLandmarks" class="max-w-application px-4 md:px-8 flex flex-col justify-start items-center w-full my-6">
        <!-- SUB-SECTION TITLE -->
        <div class="flex flex-col w-full justify-center items-center md:items-start h-auto">
            <span class="text-xs sm:text-base md:text-xl tracking-wider">DISCOVER</span>
            <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">{{ 'homepage.discoverSectionLandmarks' | transloco}}</h2>
        </div>

        <!-- DISCOVER LANDMARKS  -->
        <div class="w-full h-auto flex flex-col md:flex-row justify-center space-y-4 md:space-y-0 space-x-4 my-2 items-stretch">
            <app-search-spot-card [spotShorthand]="this.testSpot"></app-search-spot-card>
            <app-search-spot-card [spotShorthand]="this.testSpot"></app-search-spot-card>
        </div>

        <div class="w-full flex flex-row justify-end max-w-application my-4">
            <app-button-regular classAddons="px-4" [buttonContent]='"homepage.viewAllButton" | transloco'></app-button-regular>
        </div>

    </div>

    <div id="homepageDiscoverCategories" class="max-w-application px-4 md:px-8 flex flex-col justify-start items-center w-full my-6">
        <!-- SUB-SECTION TITLE -->
        <div class="flex flex-col w-full justify-center items-center md:items-start h-auto">
            <span class="text-xs sm:text-base md:text-xl tracking-wider">CATEGORIES</span>
            <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">{{ 'homepage.discoverSectionCategories' | transloco}}</h2>
        </div>

        <!-- CALENDAR EVENT RESULTS SECTION -->
         <div class="w-full h-auto flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-4 my-2">
            <app-search-event-card [eventShorthand]="this.testEvent"></app-search-event-card>
            <app-search-event-card [eventShorthand]="this.testEvent"></app-search-event-card>
        </div>

        <div class="w-full flex flex-row justify-end max-w-application my-4">
            <app-button-regular classAddons="px-4" [buttonContent]='"homepage.viewAllButton" | transloco'></app-button-regular>
        </div>
    </div>
</section>
