<main class="w-full flex flex-col justify-start items-center">

        <app-heading [title]="'Homepage'"></app-heading>

        <section id="headlines" class="w-full flex flex-col lg:flex-row justify-between space-x-6">
            <div class="headline-container w-full lg:w-1/2 flex flex-col justify-between">
                <h2 class="text-xl md:text-3xl text-center md:text-start mb-2">Todays headline spot</h2>
                <app-spot-headline
                    [spot]="this.headlineSpot"
                    [navigateToSpotOverview]="this.navigateToSpotOverview">
                </app-spot-headline>
            </div>
    
            <div class="headline-container w-full lg:w-1/2 flex flex-col justify-between">
                <h2 class="text-xl md:text-3xl text-center md:text-end mb-2">Todays headline event</h2>
                <app-event-headline
                    [event]="this.headlineEvent"
                    [navigateToEventOverview]="this.navigateToEventOverview">
                </app-event-headline>
            </div>
         </section>
    
         
         <section class="w-full flex flex-col justify-start mt-6">
            <h2 class="text-xl md:text-3xl text-center md:text-start mb-2">From your favourite categories</h2>
            <div id="favourite-spots-container" class="flex flex-row space-x-6 overflow-x-auto">
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
            </div>
        </section>
    
        <section id="headlines" class="w-full flex flex-col lg:flex-row justify-between space-x-6">
            <div class="headline-container w-full lg:w-1/2 flex flex-col justify-between">
                <h2 class="text-xl md:text-3xl text-center md:text-start mb-2">Todays headline spot</h2>
                <app-spot-headline
                    [spot]="this.headlineSpot"
                    [navigateToSpotOverview]="this.navigateToSpotOverview">
                </app-spot-headline>
            </div>
    
            <div class="headline-container w-full lg:w-1/2 flex flex-col justify-between">
                <h2 class="text-xl md:text-3xl text-center md:text-end mb-2">Todays headline event</h2>
                <app-event-headline
                    [event]="this.headlineEvent"
                    [navigateToEventOverview]="this.navigateToEventOverview">
                </app-event-headline>
            </div>
         </section>
    
         
         <section class="w-full flex flex-col justify-start mt-6">
            <h2 class="text-xl md:text-3xl text-center md:text-start mb-2">From your favourite categories</h2>
            <div id="favourite-spots-container" class="flex flex-row space-x-6 overflow-x-auto">
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
                <app-spot-discover [spot]="this.headlineSpot"></app-spot-discover>
            </div>
        </section>
</main>

