<main class="flex flex-col justify-start items-center">
    <app-heading [title]="'Homepage'"></app-heading>
    <!-- <button (click)="fetchData()">Make request</button> -->
     <section class="w-full flex flex-col lg:flex-row justify-between">
        <div class="headline-container w-full lg:w-1/2 lg:mr-10 flex flex-col justify-between">
            <h2 class="text-xl md:text-3xl text-center md:text-start mb-2">Todays headline spot</h2>
            <app-spot-headline
                [spot]="this.headlineSpot"
                [navigateToSpotOverview]="this.navigateToSpotOverview">
            </app-spot-headline>
        </div>

        <div class="headline-container w-full lg:w-1/2 lg:mr-10 flex flex-col justify-between">
            <h2 class="text-xl md:text-3xl text-center md:text-end mb-2">Todays headline spot</h2>
            <app-spot-headline
                [spot]="this.headlineSpot"
                [navigateToSpotOverview]="this.navigateToSpotOverview">
            </app-spot-headline>
        </div>
     </section>
</main>

