<main  class="w-full flex flex-col justify-start items-center p-8 lg:p-16">
        <app-heading [title]="'Homepage'"></app-heading>

        <div [@fadeInOut] class="section-container w-full my-4 flex flex-col">
            <section id="headlines" class="w-full flex flex-col lg:flex-row justify-between space-x-6">
                <div class="headline-container w-full lg:w-1/2 flex flex-col justify-between">
                    <h2 class="text-xl md:text-3xl text-center md:text-start my-2">Todays headline spot</h2>
                    <app-spot-headline
                        [spot]="this.headlineSpot"
                        (click)="this.navigateToSpotOverview(this.headlineSpot?.slug!)">
                    </app-spot-headline>
                </div>
        
                <div class="headline-container w-full lg:w-1/2 flex flex-col justify-between">
                    <h2 class="text-xl md:text-3xl text-center md:text-end my-2">Upcoming Event</h2>
                    <app-event-headline
                        [event]="this.headlineEvent"
                    >
                    </app-event-headline>
                </div>
             </section>
        
             
             <section class="w-full flex flex-col justify-start mt-6">
                <h2 class="text-xl md:text-3xl text-center md:text-start mb-2">From your favourite categories</h2>
                <div id="favourite-spots-container" class="flex flex-row space-x-6 overflow-x-auto">
                    <div *ngFor="let spot of this.spots">
                        <app-spot-discover [spot]="spot" (click)="this.navigateToSpotOverview(spot.slug)"></app-spot-discover>
                    </div>
                </div>
            </section>

            <app-button-regular [buttonLabel]="'View All'" class="self-center lg:self-end"></app-button-regular>
        </div>

        
        <div [@fadeInOut] class="section-container w-full my-10 bg-(--item-border) p-5 rounded-2xl">
            <h2 class="text-xl md:text-3xl text-center my-2">Always popular spots in Sarajevo</h2>
            <section id="popular" class="w-full flex flex-col">
                <div class="w-full flex flex-col lg:flex-row justify-between md:space-x-8">
                    <app-spot-search
                        [spot]="this.headlineSpot"
                        (click)="this.headlineSpot?.slug"
                        class="w-full lg:w-1/2 my-2"
                        >
                    </app-spot-search>
                    <app-spot-search
                        [spot]="this.headlineSpot"
                        (click)="navigateToSpotOverview(headlineSpot?.slug!)"
                        class="w-full lg:w-1/2 my-2"
                        >
                    </app-spot-search>
                </div>        

                <div class="w-full flex flex-col lg:flex-row justify-between md:space-x-8">
                    <app-spot-search
                        [spot]="this.headlineSpot"
                        (click)="this.headlineSpot?.slug"
                        class="w-full lg:w-1/2 my-2"
                        >
                    </app-spot-search>
                    <app-spot-search
                        [spot]="this.headlineSpot"
                        (click)="this.headlineSpot?.slug"
                        class="w-full lg:w-1/2 my-2"
                        >
                    </app-spot-search>
                </div>    
             </section>
        
             
             <section class="w-full flex flex-col justify-start mt-6">
                <h2 class="text-xl md:text-3xl text-center my-2">Upcoming Events</h2>
                <div id="event-calendar-widget" class="flex flex-row sm:space-x-6 justify-between items-center">
                    <div class="w-1/4 h-0.5 rounded-2xl bg-white hidden sm:inline"></div>
                    <div *ngFor="let day of this.eventsCalendarDays" class="flex flex-wrap">
                        <app-calendar-day
                            [day]="day"
                            [isSelectedDay]="day.queryDate === selectedDate"
                            (daySelected)="handleDaySelection($event)"
                        ></app-calendar-day>
                    </div>
                    <div class="w-1/4 h-0.5 rounded-2xl bg-white hidden sm:inline"></div>
                </div>

                <div *ngIf="this.calendarEvents.length != 0" id="event-calendar-events" class="w-full flex flex-col lg:flex-row space-x-4 justify-center">
                    <app-event-search  *ngFor="let event of this.calendarEvents"
                        [event]="event"
                        class="w-full md:w-1/2 my-4"
                    ></app-event-search>
                </div>

                <app-button-regular *ngIf="this.calendarEvents.length != 0" [buttonLabel]="'View All'" class="self-center lg:self-end"></app-button-regular>

                <div *ngIf="this.calendarEvents.length == 0" id="event-calendar-events" class="w-full flex flex-col items-center">
                    <img src="/assets/images/LOGO_V1.png" class="w-32 h-auto opacity-30"/>
                    <h3 class="text-2xl">No events on this day!</h3>
                </div>
            </section>
        </div>

        <div [@fadeInOut] class="section-container w-full my-4 flex flex-col">
            <h2 class="text-xl md:text-3xl text-center mb-2">Discover Sarajevo's Culture</h2>
            
            <section *ngIf="this.iconicPlaces.length != 0" id="headlines" class="w-full flex flex-col lg:flex-row justify-between lg:space-x-6">
               <app-landmark-discover
                    [landmark]="this.iconicPlaces[0]"
                    (click)="navigateToSpotOverview(iconicPlaces[0].slug)"
                >
                </app-landmark-discover>
                <app-landmark-discover
                    [landmark]="this.iconicPlaces[0]"
                    (click)="navigateToSpotOverview(iconicPlaces[0].slug)"
                >
                </app-landmark-discover>
                <app-landmark-discover
                    [landmark]="this.iconicPlaces[0]"
                    (click)="navigateToSpotOverview(iconicPlaces[0].slug)"
                >
                </app-landmark-discover>    
            </section>

            <app-button-regular *ngIf="this.iconicPlaces.length != 0" [buttonLabel]="'Search Landmarks'" class="self-center lg:self-end"></app-button-regular>
             
            <section class="w-full flex flex-col justify-start mt-6">
                <h2 class="text-xl md:text-3xl text-center mb-2">Browse by categories</h2>
                <div id="categories-container" class="flex flex-row space-x-6 overflow-x-auto">
                    <div *ngFor="let category of this.categories">
                        <app-category-block [category]="category"></app-category-block>
                    </div>
                </div>
            </section>
        </div>
</main>

