<main *ngIf="this.spot" id="spot-overview-container" class="w-full h-full flex flex-col justify-start items-center p-8 space-y-4 lg:p-16 overflow-visible">
    <app-overview-heading
        [objectOfficialName]="this.spot.officialName"
        [objectSmallDescription]="this.spot.smallDescription"
    ></app-overview-heading>

    <section [@fadeInOut] class="w-full h-full overflow-visible flex flex-col space-y-4 lg:flex-row relative lg:space-x-4">
        <!-- GALLERY AND MAIN INFOT SECTION -->
        <div id="images-info-container" class="w-full h-auto lg:w-1/2 self-start flex flex-col items-center space-y-6 lg:sticky top-5">
            <app-image-gallery
                [thumbnailImage]="this.spot.imageUrl"
                [images]="[this.spot.imageUrl]"
            ></app-image-gallery>

            <div class="w-full flex flex-row items-start">
                <div class="w-1/3 flex flex-col justify-start items-center">
                    <img src="/assets/images/STAR_ICON.png" alt="Rating" class="w-12 h-12">
                    <span class="tracking-widest text-sm">RATING</span>
                    <p class="text-xl font-bold">{{this.spot.rating}} / 10</p>
                </div>

                 <div class="w-1/3 flex flex-col justify-start items-center">
                    <img src="/assets/images/LOCATION_ICON.png" alt="Rating" class="w-12 h-12">
                    <span class="tracking-widest text-sm">LOCATION</span>
                    <p class="text-xl font-bold text-center">{{this.spot.address}}</p>
                </div>

                <div class="w-1/3 flex flex-col justify-start items-center">
                    <img src="/assets/images/CATEGORY_ICON.png" alt="Rating" class="w-12 h-12">
                    <span class="tracking-widest text-sm">CATEGORY</span>
                    <p class="text-xl font-bold">{{this.spot.categoryName}}</p>
                </div>
            </div>

            <div class="w-full flex flex-row justify-around items-center">
                <app-button-primary
                    [buttonLabel]="'Add to collection'"
                    (buttonOnClick)="this.openCollectionDialog()"
                ></app-button-primary>
            </div>
        </div>

        <!-- ADDITIONAL INFO & REVIEW SECTION -->
        <div id="spot-overview-container" class="w-full h-full lg:w-1/2 flex flex-col space-y-6">
            <!-- Full Description section -->
             <section class="w-full flex flex-col justify-center items-start">
                <h3 class="font-bold tracking-wider mb-2">DESCRIPTION</h3>
                <p>{{this.spot.fullDescription}}</p>
            </section>

            <!-- Work Hours & Tags section -->
            <div class="w-full flex flex-col lg:flex-row justify-between items-start">
                <section *ngIf="this.spot.categoryName != 'Historical Site'" class="w-full lg:w-1/2 flex flex-col">
                    <h3 class="font-bold tracking-wider mb-2 text-center">WORK HOURS</h3>
                    <div *ngFor="let day of workDays" class="w-full">
                        <div *ngIf="formattedWorkHours[day].length !== 0" class="flex flex-row w-full justify-between items-center space-x-2">
                            <span class="text-xl font-bold">{{ day }}</span>
                            <div class="grow h-0.5 rounded-2xl bg-white opacity-30"></div>
                            <span class="text-xl">{{ formattedWorkHours[day][0] }} : {{ formattedWorkHours[day][1] }}</span>
                        </div>
                        
                        <div *ngIf="formattedWorkHours[day].length === 0" class="flex flex-row w-full justify-between items-center space-x-2">
                            <span class="text-xl font-bold">{{ day }}</span>
                            <div class="grow h-0.5 rounded-2xl bg-white opacity-10"></div>
                            <span class="text-xl">Closed</span>
                        </div>
                    </div>                    
                </section>

                <section [ngClass]="this.spot.categoryName != 'Historical Site' ? 'w-full lg:w-1/2 flex flex-col justify-start' : 'w-full flex flex-col justify-start'">
                    <h3 class="font-bold tracking-wider mb-2 text-center">TAGS</h3>
                    <div class="flex flex-row justify-center items-center flex-wrap">
                        <app-small-tag-label *ngFor="let tag of this.spot.tagNames"
                            [label]="tag"
                        ></app-small-tag-label>
                    </div>
                </section>
            </div>

            <!-- Radar Chart Section -->
            <div *ngIf="this.spot.categoryName != 'Historical Site'" class="w-full h-auto">
                <h3 class="font-bold tracking-wider mb-2 text-center">QUALITY</h3>
                <canvas #qualityChartCanvas id="quality-radar-chart" class="bg-(--navbar) rounded-4xl"></canvas>
            </div>

            <!-- Reviews Section -->
            <div class="w-full h-auto flex flex-col items-stretch">
                <h3 class="font-bold tracking-wider mb-1 text-start">YOUR REVIEW</h3>

                <!-- User review & delete review -->
                <app-button-primary *ngIf="!this.userSpotReview"
                    (buttonOnClick)="this.openReviewDialog()"
                    [buttonLabel]="'Leave a review'"
                    class="w-full"
                ></app-button-primary>
                <app-review-card *ngIf="this.userSpotReview"
                    [review]="this.userSpotReview"
                    [isOwnReview]="true"
                >
                    <app-button-primary *ngIf="this.userSpotReview"
                        [buttonLabel]="'Delete existing review'"
                        (buttonOnClick)="this.openDeleteReviewDialog()"
                    >
                    </app-button-primary>
                </app-review-card>
                
                

                <!-- Other people reviews -->
                <h3 class="font-bold tracking-wider mb-1 mt-3 text-start">OTHER REVIEWS</h3>
                <app-not-found *ngIf="this.spotReviews.length == 0"
                [head]="'Oops!'"
                [message]="'No other users have rated this spot so far!'"
                class="-z-10"
                ></app-not-found>
                <app-review-card
                    *ngFor="let review of this.spotReviews"
                    [review]="review"
                    [isOwnReview]="false"
                ></app-review-card>
            </div>
        </div>
    </section>
</main>