<main class="flex flex-col justify-start items-center p-8 lg:p-16 overflow-visible">
    <app-heading [title]="'Add New Spot'"></app-heading>

    <form class="w-full flex flex-col justify-start items-start mt-4" [formGroup]="this.addForm">
        <div class="w-full flex flex-row justify-between">
            <div class="w-1/2 flex flex-col justify-between items-stretch p-4">
                <h2 class="text-4xl text-center font-bold">Basic Information</h2>
                <label for="slug" class="mb-1">Slug</label>
                <input
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all"
                    type="text" name="slug" id="name-input" placeholder="Spot Slug" formControlName="slug">

                <label for="officialName" class="mt-4 mb-1">Official Name</label>
                <input
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all"
                    type="text" name="officialName" id="name-input" placeholder="Spot Official Name"
                    formControlName="officialName">

                <label for="smallDescription" class="mt-4 mb-1">Small Description</label>
                <input
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all"
                    type="text" name="smallDescription" id="name-input" placeholder="Spot Small Desription / headline"
                    formControlName="smallDescription">

                <label for="fullDescription" class="mt-4 mb-1">Small Description</label>
                <textarea
                    class="w-full border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all"
                    name="fullDescription" id="review-content" placeholder="Spot Desription" rows="6"
                    formControlName="fullDescription"></textarea>

                <label for="address" class="mt-4 mb-1">Addres</label>
                <input
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all"
                    type="text" name="address" id="address" placeholder="Spot Address" formControlName="address">

                <div class="w-full flex flex-row justify-between items-center space-x-4">
                    <div class="w-1/2 flex flex-col justify-center items-center">
                        <label for="lat" class="mt-4 mb-1">Lattitude</label>
                        <input
                            class="w-full h-12 border-2 mr-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all"
                            type="number" min="-90" max="90" step="any" name="lat" id="lat" placeholder="Spot Lattitude"
                            formControlName="lat">
                    </div>

                    <div class="w-1/2 flex flex-col justify-center items-center">
                        <label for="long" class="mt-4 mb-1">Longitude</label>
                        <input
                            class="w-full h-12 border-2 ml2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all"
                            type="number" min="-180" max="180" step="any" name="long" id="long"
                            placeholder="Spot Longitude" formControlName="lon">
                    </div>
                </div>
            </div>

            <div class="w-1/2 flex flex-col justify-between items-stretch mt-4">
                <h2 class="text-4xl text-center font-bold">Category, Tag and Work Hours</h2>
                <div class="flex flex-col justify-center items-stretch">
                <label for="category-select" class="mb-1">Category</label>
                <select
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all bg-[--navbar-dark] text-white"
                    name="category" id="category-select" formControlName="categoryName">
                    <option *ngFor="let category of this.categorySelectItems" [value]="category.categoryName">
                        {{category.categoryName}}
                    </option>
                </select>
                </div>

                <div class="flex flex-col justify-center items-stretch -mt-6">
                <label for="category-select" class="mb-1">Tags</label>
                <ng-multiselect-dropdown class="border-2 rounded-2xl" [placeholder]="'Tag options'"
                    [settings]="this.tagDropdownSettings" [data]="this.tagDropdownAllItems"
                    [(ngModel)]="this.tagDropdownSelectedItems" formControlName="tags" (onSelect)="onItemSelect($event)"
                    (onDeSelect)="onItemDeSelect($event)">
                </ng-multiselect-dropdown>
                </div>

                <div id="hours-sections" class="flex flex-col justify-center items-center space-y-4 my-4">
                    <div class="w-full flex flex-row justify-between items-center" *ngFor="let day of days">
                        <label class="text-2xl font-semibold grow capitalize" [for]="day + 'StartTime'">{{ day |
                            uppercase
                            }}</label>
                        <button
                            class="bg-cyan-700 text-white font-bold text-md px-4 py-3 mx-2 rounded-2xl hover:bg-cyan-500 transition"
                            (click)="labelWorkDayAsClosed(day)">
                            Label as Closed
                        </button>

                        <input
                            class="w-32 h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all mr-1"
                            type="time" [id]="day + 'StartTime'" [formControlName]="day + 'StartTime'">

                        <input
                            class="w-32 h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all ml-1"
                            type="time" [id]="day + 'EndTime'" [formControlName]="day + 'EndTime'">
                    </div>
                </div>
            </div>
        </div>


        <h2 class="w-full text-4xl text-center font-bold mt-4">Admin review</h2>
        <h4 class="w-full text-2xl text-center italic">These review stats carry more weight in the overall review ranking of the spot</h4>
        <div class="w-full flex flex-row justify-between items-stretch mt-2 p-3 space-x-8">
            <div class="w-1/6 flex flex-col justify-center items-center">
                <label for="overallQuality" class="text-center">Overall Quality</label>
                <input
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all mt-2"
                    type="number" min="1" max="10" name="overallQuality" id="overallQuality" placeholder=""
                    formControlName="overallQuality">
            </div>

            <div class="w-1/6 flex flex-col justify-center items-center">
                <label for="atmosphere" class="text-center">Atmosphere</label>
                <input
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all mt-2"
                    type="number" min="1" max="10" name="atmosphere" id="atmosphere" placeholder=""
                    formControlName="atmosphere">
            </div>

            <div class="w-1/6 flex flex-col justify-center items-center">
                <label for="affordability" class="text-center">Affordability</label>
                <input
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all mt-2"
                    type="number" min="1" max="10" name="affordability" id="affordability" placeholder=""
                    formControlName="affordability">
            </div>

            <div class="w-1/6 flex flex-col justify-center items-center">
                <label for="cleanliness" class="text-center">Cleanliness</label>
                <input
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all mt-2"
                    type="number" min="1" max="10" name="cleanliness" id="cleanliness" placeholder=""
                    formControlName="cleanliness">
            </div>

            <div class="w-1/6 flex flex-col justify-center items-center">
                <label for="accessibility" class="text-center">Accessibility</label>
                <input
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all mt-2"
                    type="number" min="1" max="10" name="accessibility" id="accessibility" placeholder=""
                    formControlName="accessibility">
            </div>

            <div class="w-1/6 flex flex-col justify-center items-center">
                <label for="staffKindness" class="text-center">Staff Kindness</label>
                <input
                    class="w-full h-12 border-2 rounded-2xl p-2 focus-visible:border-2 focus-visible:outline-0 transition-all mt-2"
                    type="number" min="1" max="10" name="staffKindness" id="staffKindness" placeholder=""
                    formControlName="staffKindness">
            </div>
        </div>

        <div class="w-full flex flex-col items-center my-4 px-4">
            <label for="spot-image" class="text-4xl text-center font-bold mb-2">Spot Thumbnail Image</label>
            <input
                type="file"
                id="spot-image"
                (change)="onFileSelected($event)"
                accept="image/*" class="w-full rounded-2xl border-2 border-gray-300 focus:outline-none focus:ring-0 h-12 flex items-center justify-center cursor-pointer file:h-12 file:px-6 file:mr-4 file:bg-(--navbar) file:py-2 file:rounded-2xl file:border-0 file:text-sm file:font-semibol hover:file:bg-(--primary)"
                style="line-height: normal;">
        </div>
    </form>

     <div class="flex justify-end w-full my-4 mx-4 space-x-2">
        <app-button-primary [buttonLabel]="'Add New Event'" (buttonOnClick)="this.onItemSave()"></app-button-primary>
    </div>

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#00cdc6" type="fire" [fullScreen]="true" style="z-index: 999;" >
        <p style="color: white; font-weight: bold;"> Loading... </p>
    </ngx-spinner>
</main>