@import "tailwindcss";

.kumbh-sans-regular {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
}

.kumbh-sans-bold {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    font-variation-settings:
      "YOPQ" 300;
}

.kumbh-sans-label {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
}

@theme {
    /*COLORS*/
  --text: #ffffff;
  --background: #051f1a;
  --footer-background: #001818;
  --navbar: #094342;

  --navbar-dark: #053f3e; 
  --navbar-outline: #003A39;

  --primary: #11aeb6;
  --secondary: #11aeb6;
  --accent: #00cdc6;
  --button: #02393d;

  --item-border: #122924;

  --animate-slide-side: slide 5s ease-in-out infinite;

  --max-screen-width: 1366px;

  --navbar-layer: 999;

  @keyframes slide {
    25% {
      transform: translateX(50px);
    },
    50% {
      transform: translateX(0px);
    },
    75% {
      transform: translateX(-50px);
    },
    100% {
      transform: translateX(0px);
    }
  }
}

.toast {
  box-shadow: none !important;
}

.auth-body{
  background-image: url(/assets/object-images/backg.png);
}