<nav class="main-navbar bg-(--navbar) h-full w-20 hover:w-56 transition-all p-2 group flex flex-col">
    <div class="navbar-content w-full h-full flex flex-row items-center lg:flex-col lg:items-start justify-between md:justify-center">
        <div class="flex flex-row items-center">
            <img src="/assets/images/LOGO_V1.png" alt="Logo" class="h-12 md:h-16 ml-2">
            <img src="/assets/images/LOGO_TEXT.png" alt="Logo" class="lg:inline hidden h-20 left-10 opacity-0 transition-opacity duration-200 ease-in-out group-hover:opacity-100">
        </div>

        <ul class="flex flex-grow flex-col justify-center items-start w-full">
            <li>
                <a routerLink="/admin/data" routerLinkActive="opacity-100" class="opacity-50 hover:opacity-100 transition-all group">
                    <div class="flex flex-row items-center mt-2 mb-2">
                        <img src="/assets/images/DATA.png" alt="Saved" class="h-12 m-3 scale-90 ">
                        <p class="hidden lg:block text-2xl ml-1 kumbh-sans-label opacity-0 transition-opacity duration-200 ease-in-out group-hover:opacity-100 whitespace-nowrap">All Data</p>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/admin/add-spot" routerLinkActive="opacity-100" class="opacity-50 hover:opacity-100 transition-all group">
                    <div class="flex flex-row items-center mt-2 mb-2">
                        <img src="/assets/images/SPOTADD.png" alt="Spots" class="h-12 ml-3 mr-3 scale-90">
                        <p class="hidden lg:block text-2xl  ml-1 kumbh-sans-label opacity-0 transition-opacity duration-100 ease-in-out group-hover:opacity-100 whitespace-nowrap">Add Spot</p>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/admin/add-event" routerLinkActive="opacity-100" class="opacity-50 hover:opacity-100 transition-all group">
                    <div class="flex flex-row items-center mt-2 mb-2">
                        <img src="/assets/images/EVENTADD.png" alt="Home" class="h-10 scale-90 m-3">
                        <p class="hidden lg:block text-2xl  kumbh-sans-label opacity-0 transition-opacity duration-200 ease-in-out group-hover:opacity-100 whitespace-nowrap">Add Event</p>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/admin/requests" routerLinkActive="opacity-100" class="opacity-50 hover:opacity-100 transition-all group">
                    <div class="flex flex-row items-center mt-2 mb-2">
                        <img src="/assets/images/REQUESTS.png" alt="Events" class="h-12 scale-75 m-1.5">
                        <p class="hidden lg:block text-2xl ml-1 kumbh-sans-label opacity-0 transition-opacity duration-200 ease-in-out group-hover:opacity-100 whitespace-nowrap">Requests</p>
                    </div>
                </a>
            </li>
        </ul>

        <a routerLink="/logout" routerLinkActive="opacity-100" class="hidden md:inline opacity-50 hover:opacity-100 transition-all group">
            <div class="flex flex-row items-center">
                <img src="/assets/images/LOGOUT.png" alt="LOGOUT" class="h-12 scale-75 m-1.5">
                <p class="hidden lg:block text-2xl kumbh-sans-label opacity-0 transition-opacity duration-200 ease-in-out group-hover:opacity-100 whitespace-nowrap">Log Out</p>
            </div>
        </a>
    </div>
</nav>